@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

[data-theme='light']{  
  --background: #ffffff; 
  --color: #000000; 
} 
  
[data-theme='dark']{ 
  --background: #000000;
  --color: #ffffff; 
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Josefin Sans", Arial, sans-serif;
}
